/*  #b9936c  soft brown
    #dac292  light brown
    #e6e2d3  light sandpaper
    #c4b7a6  khaiki */



    #image {
        height: 50vh;
        width: 95vw;
        left: 0;
        overflow: hidden;
        object-fit: cover;
    }

    a:link { color:#564029;}
    a:visited { color: #564029;}
    a:hover { color: #2e271f;}
    a:active { color: #2e271f;}

    header {
        background-color: #b9936c;
        width: 100%;
    }

    body {
        background-color: #e6e2d3;
    }

    nav {
        background-color: #c4b7a6;
        height: auto;
        width: auto;
    }


    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 800;
        color: #564029;
    }

    h2 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
        color: #564029;
    }

     h3, h4, h5, h6 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:600;
        color: #564029;
    }

    p, li, ol {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: #453421;
    }
